<form>
  <div class="form-section curr-search" id="text-search-wrapper">
    <label for='text-search-field'>Search</label>
    <input type="text" name="text-search[query]" id="text-search-field" maxlength="50" />
  </div>
  <!-- implement map search -->
  <p id="search-by">Search by: 
    <a href="#" id="search-general" class="curr-sel">Message Text</a> 
    <a href="#" id="search-map">Map Location</a> 
  </p>
</form>
